{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}!!!</p>
    {% if items %}
      <p>
        {% for key , it in items[0] %}
           {{ key }}
        {% endfor %}
      </p>
    {% for item in items %}
    <p>{{ item.id }} {{ item.pdate }}{{ item.time }}{{ item.customer }} </p>
    {% endfor %}
    {% endif %}
{% endblock %}
